body {
  background-color: #051923;
}

.message {
  padding: 12px 16px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
  cursor: grab;
  backdrop-filter: blur(6px);
}

/* Hover */
.message:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.15);
}

/* När man drar */
.message.dragging {
  opacity: 0.5;
  transform: scale(0.95);
  cursor: grabbing;
}


#deleteZone {
  margin-top: 20px;
  padding: 18px;
  text-align: center;
  border-radius: 16px;
  border: 2px dashed rgba(255, 0, 0, 0.4);
  color: rgba(255, 0, 0, 0.7);
  font-weight: bold;
  transition: all 0.25s ease;
}

/* När du drar över */
#deleteZone.hover {
  background: rgba(255, 0, 0, 0.2);
  border-color: red;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

/* ====== Section: Colors ====== */
/* orange */
.burnt-peach-bg {
  background-color: #ee6c4d;
}
.burnt-peach {
  color: #ee6c4d;
}
/* Blue */
.deep-space-blue {
  color: #003554;
}
.deep-space-blue-bg { 
  background-color: #003554;
}
/* Darker blue */
.ink-black {
  color: #051923 ;
}
.ink-black-bg {
  background-color: #051923;
}

.white {
  color: white;
}
.white-bg {
  background-color: white;
}
/* ====== Section: Colors ====== */

.bg-main {
  background-color: #003554;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #ee6c4d !important;
}

.nav-link {
  color: #ee6c4d !important;
}

.active  {
  color: #003554 !important
}

.btn-burnt-peach {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #ee6c4d;
  --bs-btn-border-color: #ee6c4d;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #e15f41;
  --bs-btn-hover-border-color: #d75a3e;
  --bs-btn-focus-shadow-rgb: 238, 108, 77;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #d75a3e;
  --bs-btn-active-border-color: #cc553a;
}

.bitcount-prop-double {
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
